# Dependencies
node_modules/

# Builds
/build
/dist
/.turbo
/.next
/.cache

# Env
.env
.env.*
.firebase/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store

# Misc
coverage/
*.local
*.log
